.container.copy
  %h3 What's all this about?
  %p Gaming velocity is a problem that myself and others like my have experienced numerous times on project teams. This site can help you short circut conversations on how we can improve our velocity. There are permalinks so you can easily share your favourite or what someone on your team is suggesting.
  %p We also have an explanation of how velocity works right
    &nbsp;
    %a{href: "/halp"}here
    .
  %h3 Who made this?
  %p Velocityraptor.org came out of a presentation by 
    &nbsp;
    %a{href: "http://twitter.com/distributedlife"}Ryan Boucher
    . In the audience was&nbsp;
    %a{href: "http://twitter.com/gardym"}Mike Gardiner
    .
  %p Afterwards we made this.
  %h3 Attributions
  %p "philosoraptor" image by Unknown
  %p "link" symbol by David Waschbüsch, from The Noun Project collection
