#footer
  %a{href: "/"}
    %img{src: "public/title.png"}
  %ul
    %li
      %a{href: "/about"} about
    %li
      %a{href: "mailto:suggest@velocityraptor.org?Subject=I've a hilarious velocityraptor quote"} suggest
    %li
      %a{href: "https://twitter.com/#!/velocityraptor_"} twitter
    %li
      %a{href: "https://github.com/gardym/velocityraptor"} github
