.container{style: "display: none"}
  %div
    %img#raptor{src: "public/velocityraptor.jpg"}
.container
  .quote
    %a{href: quote.permalink}
      %img.icon{src: "public/noun_project_2339.svg"}
    =quote.quote
