!!! html5
%html
  %head
    %title About velocityraptors and other things that go bump in the night
    %link{type: "text/css", rel: "stylesheet", href: "public/velocityraptor.css"}
  %body
    .container
      What's all this about?
      .footer
        %img{src: "public/title.png"}
        %ul
          %li about
          %li create
          %li
            %a{href: "https://twitter.com/#!/velocityraptor_"} twitter
          %li
            %a{href: "https://github.com/gardym/velocityraptor"} github
          %li email
