!!! html5
%html
  %head
    %title About velocityraptors and other things that go bump in the night
    %link{type: "text/css", rel: "stylesheet", href: "public/velocityraptor.css"}
  %body
    .container
      What's all this about?
      = partial("footer.haml")
