
#footer
  %img{src: "public/title.png"}
  %ul
    %li 
      %a{href: "/about"} about
    %li create
    %li
      %a{href: "https://twitter.com/#!/velocityraptor_"} twitter
    %li
      %a{href: "https://github.com/gardym/velocityraptor"} github
    %li email
