!!! 5
%html
  %head
    %script{data-main: "public/main", src: "public/require-jquery.js"}
    %link{type: "text/css", rel: "stylesheet", href: "public/velocityraptor.css"}
  %body
    .container{style: "display: none"}
      %div
        %img#raptor{src: "public/velocityraptor.jpg"}
    :each quote in quotes
      .container
        .quote
          =quote.quote
    #footer
      %img{src: "public/title.png"}
      %ul
        %li about
        %li create
        %li
          %a{href: "https://twitter.com/#!/velocityraptor_"} twitter
        %li
          %a{href: "https://github.com/gardym/velocityraptor"} github
        %li email
